
export(simulate_ed_dataset)

export(chisq_result)
export(chisq_result_from_flag)
export(anova_result)
export(wilcoxon_result)
export(kruskal_wallis_result)

export(get_filepath_start)
export(ss_site_cor_adj)
export(difference_in_median)
export(cbind_fill)


export(calculate_lm_output)
export(calculate_glm_output)
export(calculate_lmer_output)
export(calculate_glmer_output)
export(calculate_glmer_modified_poisson_output)
export(calculate_gee_output)
export(glm_output_for_forest_plot)


export(summary_continuous_variable)
export(table_continuous_by_group)
export(summary_continuous_spread)
export(table_continuous_by_group_spread)
export(frequency_of_variable)
export(frequency_by_patient_group)
export(frequency_of_flag_variable)
export(frequency_flag_by_patient_group)
